@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #E3DAC9;
  color: #222;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #E3DAC9;
  overflow: hidden;
}

.headerContainer {
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-image: url('/images/home/PawPrintBackgroundModified.png');
  background-size: 500px;
  background-repeat: repeat;
  background-blend-mode: lighten;
}

.headerTitle {
  margin: 0 auto;
  background-color: #D9be9d;
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  font-stretch: extra-expanded;
  color: #222;
  border-radius: 10px;
  padding: 10px;
  border: solid 1px rgba(34, 34, 34, .75);
}

.logo-format {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: #E3DAC9;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 1;
}

nav {
  background-blend-mode: lighten;
  background-color: #D9be9d;
  border-radius: 10px;
  padding: 5px;
  border: solid 1px rgba(34, 34, 34, .75);
  display: flex;
}

nav a {
  color: #222;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  width: 20%;
  text-align: center;
 
}

nav a:hover {
  text-decoration: underline;
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
}

.pageTitle {
  font-size: 52px;
  font-family: "Libre Baskerville", serif;
  color: #222;
  text-align: center;
  font-stretch: extra-expanded;
  margin-bottom: 20px;
}

.instagram-feed {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack elements vertically */
  max-width: 100%;
}

.instagram-feed p {
  text-align: center;
  font-size: 24px;
}

.instagram-media {
  margin: 10px auto; 
  width: 85%; 
  height: 1260px; 
  border-radius: 25px !important;
  overflow:scroll !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
}

.updates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin: 0 auto; /* Add margin */
}

.updateBlock {
  background-color: rgba(34, 34, 34, .75);
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 600px;
}

.updateContent > img{
  width: 550;
  height: 341;
  border-radius: 10px;
}

footer {
  background-color: rgba(34, 34, 34, .75);
  border-radius: 10px;
  padding: 10px;
  color: whitesmoke;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-link,
.footer-text {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  header {
    height: 90%;
    width: 110%;
    display: flex;
    margin-left: 0;
  }

  .headerContainer{
    height: 90%;
    width: 100%;
    margin: 0 auto;
    margin-right: 40px;
  }

  .headerTitle {
    font-size: 1em;
    width: 80%;
    height: 50px;

  }

  .logo-format {
    width: 90%;
    height: 90%;
  }

  nav {
    width: 95%;
    margin-left: 4px;
  }

  nav a {
    font-size: 1em;
  }

  body {
    font-size: 16px;
  }

  .updateBlock {
    width: 90%;
    margin: 0 auto;
  }
  
  .updateContent > img {
    width: 100%;
    height: auto;
  }
  
  .instagram-media {
    width: 95%;
    height: 420px;
    max-height: 600px;
  }

  footer{
    width: 95%;
    margin: 0 auto;
    border-radius: 0;
  }
  .footer-container{
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
