body{
    font-family: Verdana, sans-serif;
    font-size: 14pt;
}
nav ul {
    list-style-type: none; 
    padding: 0; 
}

nav ul li {
    display: inline-block; 
    margin-right: 10px; 
}

nav ul li:last-child {
    margin-right: 0; 
}